/*-----------------------------------Start Common Css----------------------------------------*/
body {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #000000;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
.mainContainer {
  max-width: 1500px;
  margin: 0 auto;
}
a:focus,
a:focus {
  outline: none;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

a:hover,
a:focus {
  color: #fff;
  outline: none;
}

hr {
  width: 100%;
}

h3 {
  font-size: 24px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

h2 span {
  font-weight: normal;
}

p {
  font-size: 16px;
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;
  /* width: 100%; */
  position: relative;
  display: flex;
  flex-direction: row;
}

.overflowhide {
  overflow: hidden;
}

.pdngtb70 {
  padding: 70px 0;
}

.pdngtb42 {
  padding: 42px 0;
}

.pdngtb50 {
  padding: 70px 0 0 0;
}

.bdrbtomgray {
  border-bottom: 10px solid #f7f7f7;
}

.bdrtopgray {
  border-top: 10px solid #f7f7f7;
}

.dp_row.onlyneed {
  display: none;
}

.hmpagewidget .dpmediacovergae #loadmorebtn {
  display: none;
}

.hmpagewidget .dp_row.onlyneed {
  display: flex;
}

.contactuspg .borderBootttom {
  border-bottom: none;
}

.clearboth {
  clear: both;
}

.seprator {
  border-top: 10px solid #f7f7f7;
  width: 100%;
  clear: both;
}

section {
  position: relative;
}

hidden {
  overflow: hidden;
}

.centretopleft {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centertopbtm {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.centerlftrgt {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.disnone {
  display: none;
}

.dp_container {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.dp_row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.dp_row_inline {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dp_rowdir_clmn {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.alignbaseline {
  align-items: baseline;
}

.alignflxend {
  align-items: flex-end;
}

.aligncenter {
  align-items: center;
}

.dp_colmn {
  position: relative;
}

.dp_flexwrap {
  flex-wrap: wrap;
}

.dp_flexflow {
  flex-flow: wrap;
}

.dp_justifycontentcenter {
  justify-content: center;
}

.dp_justifycontentspcbet {
  justify-content: space-between;
}

.nocursr {
  cursor: default !important;
}

.title {
  margin: 0 auto;
  text-align: center;
}

.heading {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
}

.redheading {
  color: #d0021b;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.commanpara {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  margin: 15px 0 0;
}

.comman_btn {
  background: black;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 24px;
  border: 1px solid black;
  font-weight: 500;
  border-radius: 4px;
  padding: 11px 60px 10px;
  text-transform: uppercase;
  margin-top: 25px;
  cursor: pointer;
}

.btncenter {
  text-align: center;
}

.btn {
  display: inline-block;
  font-size: 13px !important;
  font-weight: 500 !important;
  padding: 10px 20px !important;
  background-color: #000 !important;
  color: #fff !important;
  margin: 0 10px;
  border-radius: 2px;
  border: none !important;
  text-transform: uppercase;
}

/*----Header SMall End-----*/
.mobview {
  display: none !important;
}

.deskview {
  display: block !important;
}

/*------------------------------------------Start Nav Css------------------------------------------*/
.fixednav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
}

.navbar {
  padding: 20px 50px;
  background-color: transparent;
  position: relative;
  width: 100%;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-bottom: 0;
}

.fixednav.otherheaderFixed .navbar {
  background-color: #1e2a2e;
}

.otherHeaderwhite.otherheaderFixed .navbar {
  background-color: transparent;
}

.otherHeaderwhite.fixednav.navbgwht .navbar {
  background-color: #ffffff;
}

.otherHeaderwhite .collesped_menu .navbar-nav li .homeHeader {
  color: #000000;
}

.fixednav.sticky .navbar {
  padding: 15px 50px;
  /*background-color: rgb(255 255 255 / 100%);*/
  /*background-color: #1e2a2e;*/
}

.fixednav.navbgwht .navbar {
  background-color: #1e2a2e;
  -moz-box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 15px 10px -15px rgb(0 0 0 / 10%);
  box-shadow: 0px 15px 10px -15px rgb(0 0 0 / 10%);
}

.menulogobox {
  max-width: 160px;
  -webkit-transition: width 0.5s ease-out;
  -moz-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

.fixednav.sticky .menulogobox {
  max-width: 140px;
}

.otherheaderFixed .menulogobox {
  display: block;
}

.otherheaderFixed.sticky .menulogobox {
  display: none;
}

.otherheaderFixed .menulogobox.logoblk {
  display: none;
}

.otherheaderFixed.sticky .menulogobox.logoblk {
  display: block;
}

.collesped_menu {
  float: right;
}

.collesped_menu .navbar-nav li {
  margin-right: 24px;
}

.collesped_menu .navbar-nav li:last-child {
  margin-right: 0;
}

.collesped_menu .navbar-nav li a {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.27;
  position: relative;
  color: #fff;
  padding: 10px 10px;
  position: relative;
  background: none;
  display: block;
  z-index: 2;
}

.collesped_menu .navbar-nav li .homeHeader {
  font-size: 24px;
  line-height: 1.27;
  position: relative;
  padding: 10px 10px;
  position: relative;
  background: none;
  display: block;
  z-index: 2;
}

.collesped_menu .navbar-nav li {
  background: none;
  display: block;
  position: relative;
}

.collesped_menu .navbar-nav li {
  overflow: hidden;
}

.collesped_menu .navbar-nav li::after {
  height: 100%;
  left: 0;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  border-radius: 62px;
  transform-origin: top left;
  width: 0;
}

.collesped_menu .navbar-nav li.active:after,
.collesped_menu .navbar-nav li:hover:after {
  height: 100%;
  width: 100%;
}

.collesped_menu .navbar-nav li .homeHeader.redtab:hover {
  border-radius: 3px;
  background-color: #ed193b;
}

.collesped_menu .navbar-nav li .homeHeader.white-tab:hover {
  border-radius: 3px;
  background-color: #ffffff;
}

.collesped_menu .navbar-nav li .homeHeader.whitetab {
  border-radius: 2.6px;
  background-color: var(--white);
  color: var(--black);
  font-size: 20px;
  padding: 5px 17px;
  text-transform: uppercase;
}

.fixednav .navbar-nav > li.active > a {
  color: #ffffff;
  padding: 5px 10px;
  font-weight: 600;
}

.collesped_menu .navbar-nav li .homeHeader.regfixbtn {
  background-color: #da2337;
  padding: 4px 20px;
  color: #ffffff;
  border: 1px solid black;
  font-weight: 500;
  border-radius: 2.6px;
  text-transform: uppercase;
}

/*------------------------------------------End Nav Css------------------------------------------*/

/*------------------------------------------Start Banner sec Css------------------------------------------*/
.topHeadding {
  background: url(https://economictimes.indiatimes.com/photo/92276431.cms);
}

.topHeadding h1 {
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  line-height: 1;
  color: #1e2a2e;
  text-transform: uppercase;
  margin: 30px 0 0;
}

.mainbanner {
  position: relative;
}

.homePageMainSec section {
  padding: 0 20px;
}

.homePagecolor {
  background-color: #f9f8fa;
}

.otherpage {
  padding-top: 95px;
}

.bannerMoney {
  position: absolute;
  bottom: 119px;
  margin-left: 38px;
}

.bannerMoney .heading {
  color: #fff;
  line-height: 1;
}

.bannerMoney h4 {
  color: #fff;
  margin: 0;
}

.bannerMoney .bannerMainheading {
  color: #fff;
  font-size: 105px;
  font-weight: 600;
  margin: 5px 0 0 0;
  line-height: 1;
  text-transform: capitalize;
}

.bannerMoney .bannerPara {
  color: #fff;
  font-size: 40px;
  line-height: 42px;
  margin-right: 487px;
  margin-top: 20px;
}

.bannerMoney .bannerYellow {
  color: #f6c310;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 24px;
  margin: 0;
}

/*------------------------------------------End Banner sec Css------------------------------------------*/

/*----------------------------------------- Start Pagination Video Section Css------------------------- */

.videocontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 25px 0;
}

.videocontainer .video {
  max-width: 300px;
  min-width: 300px;
  overflow: hidden;
}
input[type="text"]#search {
  width: 30%;
  height: 50px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  background-color: #fff;
  outline: none;
}

input[type="text"]#search::placeholder {
  color: #000;
  font-style: italic;
}

input[type="text"]#search:focus {
  border-color: #555;
  background-color: #fff;
}
.previousBtn,
.nextBtn {
  background-color: #18003f;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.previousBtn:disabled,
.nextBtn:disabled {
  background-color: lightgray;
}
.previousBtn:hover,
.nextBtn:hover {
  background-color: #000;
}
span#page-numbers button {
  background-color: lightcyan;
}
/*----------------------------------------- End Pagination Video Section Css------------------------- */

/*------------------------------------------ Start get in touch --------------------------------------*/

.getTouch {
  position: relative;
}

.cntacdetailsec:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 62%;
  background: url(https://economictimes.indiatimes.com/photo/92174399.cms)
    no-repeat;
  background-size: cover, 80%;
}

.cntctitle {
  color: #161b21;
  font-family: Oswald;
  font-size: 67px;
  letter-spacing: -1.47px;
  line-height: 111px;
  text-align: center;
  margin: auto;
  font-weight: 500;
}

.getintouchpara {
  color: #161b21;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin: auto;
}

.cntdetailsbox {
  background-color: #ffffff;
  box-shadow: 0 12px 14px 0 rgb(0 0 0 / 10%);
  max-width: 400px;
  min-width: 400px;
  height: 174px;
  margin-right: 15px;
  margin-top: 20px;
}

.getinimage {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.cntdetailsboxmain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagediv {
  position: relative;
  top: -24px;
  left: 7px;
}

.generalmanager {
  color: #161b21;
  font-size: 14px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

.names .managerName {
  font-size: 24px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.cntdetailsboxsec {
  position: relative;
  top: -18px;
  /* left: 25px; */
}

.spriteimg.moblie {
  width: 26px;
  height: 21px;
  background-position: -123px -541px;
}

.cntdetailsbox a {
  font-size: 15px;
  margin-left: 7px;
  color: #161b21;
  font-family: "Montserrat", sans-serif;
}

/*-----------------------End get in touch -----------------------------*/

/*------------------------------------------Start Footer Css--------------------------------------------*/

.dpfooter {
  float: left;
  width: 100%;
  /*margin-top: 30px;*/
}

.dpfooter .topband {
  background-color: #191919;
  padding: 20px;
}

.dpfooter .mainBand {
  background-color: #000;
}

.belowBand {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  max-width: 1180px;
  margin: 0 auto;
}

.belowBand h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.belowBand .contact {
  padding-top: 10px;
}

.footLinks {
  width: 30%;
}

.footLinks a {
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #fff;
  padding-bottom: 15px;
  display: inline-block;
  width: 35%;
  box-sizing: border-box;
  vertical-align: top;
  text-decoration: none;
  margin-right: 10px;
}

.mainfollow,
.newsletter {
  width: 340px;
}

.follow a {
  display: inline-block;
  margin-right: 8px;
}

.belowBand .contact {
  padding-top: 10px;
}

.belowBand .contact h3 {
  margin-bottom: 10px;
}

.belowBand .contact .inner {
  margin-bottom: 5px;
}

.belowBand .contact {
  padding-top: 10px;
}

.info {
  margin-left: 8px;
}

.belowBand .info a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  width: 125px;
  display: inline-block;
}

.emailNews {
  background: #373737;
  border: 1px solid #373737;
  outline: none;
  color: #fff !important;
  padding: 10px 15px;
  font-size: 14px;
}

.newsletter .subcribebtn {
  background: #ed193b;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  border: 1px solid #ed193b;
  font-weight: 500;
  border-radius: 2px;
  padding: 10px 25px;
  text-transform: uppercase;
}

.succsesMsg {
  display: none;
}

.succsesMsg p {
  text-align: left;
  line-height: 28px;
  margin-top: 25px;
  color: #ed193b;
  font-weight: 600;
}

.bottombar {
  background: #18003f;
  padding: 23px 5px 5px;
  border-top: 1px solid #3a3a3a;
  font-family: "Montserrat", sans-serif;
}

.bottombar ul {
  justify-content: center;
  list-style: none;
}

.bottombar ul li {
  margin-right: 15px;
}

.bottombar ul li:last-child {
  margin-right: 0;
}

.bottombar ul a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  position: relative;
  padding-left: 26px;
}

.bottombar ul li a::before {
  content: "";
  position: absolute;
  border-right: 1px solid #9b9b9b;
  height: 100%;
  width: 4px;
  left: 5px;
}

.bottombar ul li:first-child a::before {
  content: none;
}

.cpy {
  text-align: center;
  color: #9b9b9b;
  font-size: 13px;
  margin-top: 8px;
  font-weight: 300;
}

.cpy a {
  color: #9b9b9b;
  text-decoration: underline;
}

/*------------------------------------------End Footer Css--------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------*/
/*------------------------------------------Start Media query Css------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1002px) {
  .menuOpenlogobox {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  p#loadView\ button\ dp_justifycontentcenter {
    width: 170px;
  }

  .pdngtb70 {
    padding: 40px 20px;
  }

  .clmn_onlyMob {
    flex-direction: column-reverse;
  }

  .flexclmn_onlyMob {
    flex-direction: column;
    gap: 10px;
  }

  .heading {
    font-size: 50px;
  }

  .commanpara {
    font-size: 18px;
  }

  .comman_btn {
    font-size: 24px;
    border-radius: 2px;
    padding: 10px 130px 10px;
    margin: 28px 0 0;
  }

  .mobview {
    display: block !important;
  }

  .deskview {
    display: none !important;
  }

  .regmodel {
    display: none;
  }

  .videogalryshow {
    padding: 0 10px;
  }

  .dp_rowdir_clmn_onlyMob {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .dp_rowdir_clmn_revrse_onlyMob {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .homePageMainSec section {
    padding: 0 20px;
  }

  h2 {
    font-size: 28px;
    margin: 0;
  }

  .homePageMainSec p {
    font-size: 14px;
  }

  .homePageMainSec .pdngtb70 {
    padding: 40px 0;
  }

  .otherpage {
    padding-top: 71px;
  }

  .topHeadding h1 {
    font-size: 50px;
    padding-left: 15px;
  }

  /*--------------------------------Start Nav menu-collepsed for mobile------------------------------------*/

  .menuOpenlogobox {
    margin-bottom: 20px;
    max-width: 105px;
    margin-top: -25px;
  }

  .menulogobox {
    max-width: 120px;
  }

  .fixednav.sticky .menulogobox {
    max-width: 120px;
  }

  .otherheaderFixed .menulogobox {
    display: none;
  }

  .otherheaderFixed .menulogobox.logoblk {
    display: block;
  }

  .fixednav,
  .navbarmain {
    width: 100%;
    left: 0;
    top: 0;
  }

  .navbar {
    padding: 15px;
    box-shadow: none;
    /*background-color: #fff;*/
  }

  .fixednav.sticky .navbar {
    padding: 15px;
    background-color: #1e2a2e;
  }

  .fixednav.sticky .menulogobox {
    max-width: 120px;
  }

  .navbarmain:before {
    height: 70px;
    width: 101%;
    left: -1px;
  }

  .navbarmain .navbar-brand {
    padding: 0;
    margin: 13px 15px;
    visibility: visible;
    opacity: 1;
  }

  .navbarmain .navbar-nav {
    left: 0;
    transform: none;
  }

  .navbarmain.stick .navbar-nav {
    width: 100%;
  }

  .navbarmain .navbar-nav:after {
    content: none;
  }

  .menubtn {
    width: 25px;
    height: 23px;
    position: absolute;
    right: 20px;
    top: 21px;
    margin: 0;
  }

  .fixednav.sticky .menubtn {
    top: 21px;
  }

  .menubtn span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: block;
    margin: 6px auto;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .menubtn:hover {
    cursor: pointer;
  }

  .menubtn.open {
    top: 50px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 999;
  }

  .sticky .menubtn.open {
    /*top: 21px;*/
    top: 50px;
  }

  .menubtn.open span {
    background-color: #fff;
  }

  .menubtn.open span:nth-child(2) {
    width: 0px;
  }

  .menubtn.open span:nth-child(1),
  .menubtn.open span:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    margin: 0 auto;
  }

  .menubtn.open span:nth-child(1) {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }

  .menubtn.open span:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
  }

  .collesped_menu {
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
  }

  .collesped_menu .mobbg {
    background-color: #1e2a2e;
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    right: -300px;
    text-align: left;
    padding: 70px 30px 15px;
    transition: 0.4s cubic-bezier(0.43, 0.06, 0.46, 1.14);
    z-index: 9;
  }

  .collesped_menu.open_menu {
    display: block;
    width: 100%;
  }

  .collesped_menu.open_menu .mobbg {
    right: 0;
    /*top: -35px;*/
  }

  .collesped_menu ul {
    margin: 0;
    padding: 0;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .collesped_menu ul li {
    padding: 0;
    margin: 0 0 10px;
    width: 100%;
    cursor: pointer;
    position: relative;
    height: auto;
    display: block;
  }

  .collesped_menu .navbar-nav li {
    margin-right: 0;
  }

  .collesped_menu .navbar-nav li.active:after,
  .collesped_menu .navbar-nav li:hover:after {
    width: 100%;
    left: -15px;
  }

  .collesped_menu .navbar-nav li a {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-bottom: 1px solid #364449;
    padding: 15px 0px;
  }

  .navbar-nav > li > a:after {
    content: none;
  }

  .toggle_menu,
  .menu_active {
    position: relative;
  }

  .toggle_menu:before {
    content: "";
    position: absolute;
    top: 22px;
    right: 88px;
    width: 13px;
    height: 7px;
    background: url(https://economictimes.indiatimes.com/photo/70769840.cms)
      no-repeat;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transform: rotate(0deg);
  }

  .toggle_menu.menu_active:before,
  .toggle_menu.menu_active .mainmenu li.menu_active_sub:before {
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    background: url(https://economictimes.indiatimes.com/photo/70769842.cms)
      no-repeat;
    transform: rotate(180deg);
  }

  .toggle_menu.menu_active .mainmenu li a {
    color: #000;
  }

  .toggle_menu.menu_active a {
    color: #ff0032;
  }

  .mainmenu,
  .submenu {
    display: none;
  }

  .collesped_menu ul li .submenu {
    margin: 0;
    padding: 0;
  }

  .collesped_menu ul li .submenu li {
    padding: 5px 0;
  }

  .collesped_menu ul li .submenu li a {
    font-size: 14px;
  }

  .mainmenu li {
    border-top: 1px solid #ddd;
  }

  .mainmenu li a,
  .mainmenu li:first-child {
    border-top: none;
  }

  .submenu {
    display: none;
  }

  .toggle_menu ul {
    padding: 0 0 0 10px !important;
  }

  .collesped_menu .navbar-nav li .homeHeader {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
  }

  .collesped_menu .navbar-nav li .homeHeader.redtab {
    background: none;
  }

  .collesped_menu .navbar-nav li .homeHeader.redtab {
    background: none;
  }

  .collesped_menu .navbar-nav li .homeHeader.white-tab:hover {
    background: none;
  }

  .collesped_menu .navbar-nav li .homeHeader.white-tab:hover {
    background: none;
  }

  .collesped_menu .navbar-nav li .homeHeader.whitetab {
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
    margin-top: 10px;
  }

  .collesped_menu .navbar-nav li .homeHeader.regfixbtn {
    display: block;
  }

  .collesped_menu .navbar-nav li .homeHeader.regfixbtn {
    background-color: #da2337;
    padding: 10px 105px;
    color: #ffffff;
    font-size: 24px;
    border: 1px solid #da2337;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
  }

  .otherHeaderwhite .collesped_menu .navbar-nav li .homeHeader {
    color: #ffffff;
  }

  .otherHeaderwhite
    .collesped_menu
    .navbar-nav
    li
    .homeHeader.whitetab.scrollnavTo {
    color: #000000;
  }

  /*--------------------------------End Nav menu-collepsed for mobile------------------------------------*/

  /*-----------------Start Banner text css for mobile -----------------*/
  .bannerMoney .heading {
    font-size: 40px;
  }

  .bannerMoney {
    bottom: 90px;
    margin-left: 10px;
  }

  .bannerMoney .bannerMainheading {
    font-size: 85px;
    line-height: 0.94;
    margin: 5px 0 10px 0;
  }

  .bannerMoney .bannerPara {
    font-size: 24px;
    line-height: normal;
    margin-right: 55px;
  }

  .bannerMoney .bannerYellow {
    font-size: 24px;
    margin: -5px 0 0 0;
  }

  .register_btn {
    font-size: 24px;
    display: inline-block;
    margin-top: 35px;
  }

  /*-----------------End Banner Text for mobile -----------------*/

  /*---------------------- Start  get in touch section for mobile-------------------*/
  .contactdetailsec {
    display: block;
  }

  .cntdetailsbox {
    margin: 30px auto 0;
    height: auto;
    max-width: unset;
    min-width: unset;
  }

  .cntdetailsboxmain {
    display: block;
    margin: 24px 15px;
  }

  .cntdetailsboxmain > .imagediv {
    top: 2px;
  }

  .names > h3 {
    text-align: center;
  }

  .generalmanager {
    text-align: center;
    margin-bottom: 10px;
  }

  .emails {
    justify-content: flex-start;
  }

  .telph {
    justify-content: flex-start;
  }

  .getintouchpara {
    font-size: 20px;
  }

  .cpy a {
    display: block;
  }

  .cntctitle {
    font-size: 55px;
  }

  .imagediv > img {
    display: block;
    margin: 0 auto;
  }

  .names .managerName {
    margin: 20px 0 0 0;
  }

  /*--------------------------------End  get in touch section for mobile---------------------------------*/

  /*-----------------Start Footer css for mobile -----------------*/
  .belowBand {
    flex-direction: column;
    padding: 20px 20px 0;
  }

  .footLinks {
    width: 100%;
  }

  .footLinks a {
    margin-right: 40px;
  }

  .mobBottomLine {
    border-bottom: 1px solid #343434;
    padding: 10px 0 24px 0px;
  }

  .mainfollow,
  .newsletter {
    width: 100%;
  }

  .footerMobile {
    border-top: none;
    padding: 20px;
  }

  .footerMobile .terms {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footerMobile .terms a {
    color: #b3acac;
    padding-right: 14px;
    padding-left: 12px;
    font-size: 14px;
    margin-right: 5px;
  }

  .belowBand .info a {
    font-size: 14px;
    color: #b3acac;
  }

  .belowBand h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: UPPERCASE;
  }

  .subscribeForm .form-group {
    margin-bottom: 15px;
    margin-top: 20px;
  }

  .videogalryshow .content-section h3 {
    font-size: 21px;
    line-height: 27px;
    padding-bottom: 30px;
  }

  .borderTc {
    border-left: 1px solid #343434;
    height: 100%;
  }

  .footerMobile .cpy {
    margin: 24px 0 10px;
  }

  .dpfooter .viewMoreCont {
    margin-bottom: 7px;
  }

  /*-----------------End Footer css for mobile -----------------*/

  /*---------------start deep dev watchlive csss ------------------*/

  .dp_containDeep {
    display: block;
    margin: 0 20px;
  }

  .watchlive .dp_containDeep .Deepdive h3 {
    font-size: 22px;
  }

  .watchLiveReport {
    text-align: center;
    margin-top: 20px;
  }

  .watchlive .pdngtb70 {
    padding: 40px 0;
  }
}

@media only screen and (max-width: 670px) {
  .watchlivesec iframe {
    height: 355px;
  }

  /*------------------------Start Popup css for mobile---------------------------------------*/
  .mtrsprImgBox {
    max-width: 130px;
    min-width: 130px;
    margin-right: 10px;
  }

  .spkrDialog {
    width: 100%;
    max-height: 100%;
    padding: 20px;
  }

  .mentorSpkrPopupMainBox .leftBox p {
    font-size: 11px;
  }

  .mentorSpkrPopupMainBox .leftBox h3 {
    font-size: 17px;
  }

  a.linkedinImg {
    min-width: 25px;
    max-width: 25px;
  }

  /*.mentorSpkrPopupMainBox .leftBox {*/
  /*    margin-right: 15px;*/
  /*}*/
  .mentorSpkrPopupMainBox {
    flex-direction: column;
  }

  .leftBox {
    display: flex;
  }

  .popspkrDescp {
    margin-top: 30px;
  }

  /*------------------------End Popup css for mobile----------------------------------------*/

  /*------------------------Start Header css for mobile------------------------------------*/
  .bannerli {
    padding-right: 0px;
    margin-right: 0px;
    border-right: 0px;
  }

  .bannerText {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reg_btnMain {
    margin-top: 18px;
  }

  /*------------------------End Header css for mobile--------------------------------------*/
}

/*---------------------------------------------------------------------------------------------------------*/
/*------------------------------------------End Media query Css------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
